* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
    color: #000;
    text-shadow: 1px 1px 1px #2F937B;
    background-color: #f1f1f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #2F937B;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2F937B;
}

p {
    font-weight: 300;
    font-style: italic;
    text-shadow: 1px 1px 1px #2F937B;
}

.sOne {
    background: url(../img/pexels-photo-150944%20.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 875px;
}

#welcome {
    text-align: center;
    font-size: 200%;
    padding-top: 20%;
}

.btn-primary {
    background-color: #2F937B;
    color: #fff;
    border-color: #2F937B;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #fff !important; 
    color: #2F937B !important;
    border-color: #fff !important;
    transform: scale(1.05);
    border-color: #2F937B !important;
}

#welcome h1 {
    color: #000;
    font-size: 150%;
    text-shadow: 1px 1px 1px #2F937B;
}

#welcome p {
    color: #000;
    font-size: 150%;
    text-shadow: 1px 1px 1px #2F937B;
}

hr {
    width: 250px;
    border-color: #2F937B;
}

.sTwo {
    height: 100px;
    background-color: #f1f1f1;
}

.sTwo img {
    padding-bottom: 22px;
}

@media (max-width: 460px){
    .sTwo img {
        padding: 0;
        margin: 6px;
    }
}

.reviewers {
    width: 15.5%;
    height: 70px;
    margin: 2%;
}

.sThree {
    text-align: center;
    padding-bottom: 30px;
}

.sIcons {
    font-size: 500%;
    color: #2F937B;
}

.sIcons:hover, .sIcons:active {
    color: #000;
    text-shadow: 1px 1px 1px #2F937B;
}

.sFour {
    background: url(../img/pexels-photo-420885.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.sFive {
    height: 750px;
    text-align: center;
    margin-top: 40px;
}

.fotorama__wrap {
    margin: 0 auto;
}

.fotorama {
    margin-top: 40px;
}

span {
    color: #2F937B;
    font-size: 50px;
}

h3 {
    color: #000;
    font-size: 150%;
    text-shadow: 1px 1px 1px #2F937B;
}

.sSix {
    background: url(../img/pexels-photo-238116.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.fOne {
    text-align: center;
    height: 550px;
}

#contact {
    padding: 5%;
    outline: 6px solid rgba(47, 147, 123, 0.66);
    background-color: #f1f1f1;
}

#contact {
    margin-top: 40px;
}

.form-control {
    color: #555;
    background-color: #fff;
    border: 1px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 0;
}

.form-control:hover, .form-control:active {
    border-top: 2px solid #2F937B;
}

.fTwo {
    background-color: #f1f1f1;
    padding: 2% 0 2% 0;
}

.social {
    font-size: 150%;
}

.ion-social-instagram,
.ion-social-twitter,
.ion-social-reddit,
.ion-social-vimeo,
.ion-social-github {
    color: #2F937B;
}

.ion-social-instagram:hover, .ion-social-instagram:active {
    color: #8a3ab9;
}

.ion-social-twitter:hover, .ion-social-twitter:active {
    color: #55acee;
}

.ion-social-reddit:hover, .ion-social-reddit:active {
    color: #ff4500;
}

.ion-social-vimeo:hover, .ion-social-vimeo:active {
    color: #4EBBFF;
}

.ion-social-github:hover, .ion-social-github:active {
    color: #000;
}
